In [1]:
import pandas as pd

df_wide = pd.read_csv('wide_data1.csv')

# Convert wide to long
df_long = pd.melt(df_wide, id_vars=['DATE', 'PATIENT NO', 'REASON FOR REFUND'], 
                  var_name='Drug Name', value_name='Quantity Returned')

# Filter out rows where Quantity Returned is zero (optional)
df_long = df_long[df_long['Quantity Returned'] > 0]

In [2]:
Dec_wide = pd.read_csv('Dec.csv')

# Convert wide to long
Dec_long = pd.melt(Dec_wide, id_vars=['DATE', 'PATIENT NO', 'REASON FOR REFUND', 'AMOUNT (N)'], 
                  var_name='Drug Name', value_name='Quantity Returned')

# Filter out rows where Quantity Returned is zero 
Dec_long = Dec_long[Dec_long['Quantity Returned'] > 0]

In [3]:
Dec_long.head()

,DATE,PATIENT NO,REASON FOR REFUND,AMOUNT (N),Drug Name,Quantity Returned
6,4/12/2023,7.0,DRUGS UNUTILIZED AT TIME OF DISCHARGE,"2,070",IV CEFTRIAXONE,2.0
7,4/12/2023,8.0,DEMISE OF THE PATIENT,"3,150",IV CEFTRIAXONE,2.0
45,4/12/2023,7.0,DRUGS UNUTILIZED AT TIME OF DISCHARGE,"2,070",IV LEVOFLOXACIN,2.0
83,4/12/2023,6.0,CHANGE OF DRUG REGIMEN,"9,250",IV CANNULA,3.0
84,4/12/2023,7.0,DRUGS UNUTILIZED AT TIME OF DISCHARGE,"2,070",IV CANNULA,2.0

In [4]:
Jan_wide = pd.read_csv('Jan.csv')

# Convert wide to long
Jan_long = pd.melt(Jan_wide, id_vars=['DATE', 'PATIENT NO', 'REASON FOR REFUND', 'AMOUNT (N)'], 
                  var_name='Drug Name', value_name='Quantity Returned')

# Filter out rows where Quantity Returned is zero 
Jan_long = Jan_long[Jan_long['Quantity Returned'] > 0]

In [5]:
Jan_long.head()

,DATE,PATIENT NO,REASON FOR REFUND,AMOUNT (N),Drug Name,Quantity Returned
5,12/1/2024,23,CHANGE OF DRUG REGIMEN,"3,190",IV CEFTRIAXONE,2.0
6,12/1/2024,24,DRUG UNUTILIZED AT TIME OF DISCHARGE,"3,500",IV CEFTRIAXONE,2.0
7,13/1/2024,25,DRUG UNUTILIZED AT TIME OF DISCHARGE,"9,020",IV CEFTRIAXONE,2.0
17,17/01/2024,35,DRUG UNUTILIZED AT TIME OF DISCHARGE,"5,800",IV CEFTRIAXONE,2.0
18,17/01/2024,36,DEMISE OF THE PATIENT,"4,550",IV CEFTRIAXONE,3.0

In [6]:
Feb_wide = pd.read_csv('Feb.csv')

# Convert wide to long
Feb_long = pd.melt(Feb_wide, id_vars=['DATE', 'PATIENT NO', 'REASON FOR REFUND', 'AMOUNT (N)'], 
                  var_name='Drug Name', value_name='Quantity Returned')

# Filter out rows where Quantity Returned is zero 
Feb_long = Feb_long[Feb_long['Quantity Returned'] > 0]

In [7]:
Feb_long.head(4)

,DATE,PATIENT NO,REASON FOR REFUND,AMOUNT (N),Drug Name,Quantity Returned
4,11/2/2024,5.0,DEMISE OF THE PATIENT,"8,620",IV CEFTRIAXONE,3.0
6,13/02/2024,7.0,DRUGS UNUTILIZED AT TIME OF DISCHARGE,"17,000",IV CEFTRIAXONE,2.0
8,13/02/2024,9.0,DRUGS UNUTILIZED AT TIME OF DISCHARGE,"4,150",IV CEFTRIAXONE,1.0
11,17/02/2024,12.0,CHANGE OF DRUG REGIMEN,"7,850",IV CEFTRIAXONE,2.0

In [9]:
Dec_long.to_csv('Dec_long.csv', index=False)

Feb_long.to_csv('Feb_long.csv', index=False)
Jan_long.to_csv('Jan_long.csv', index=False)

In [8]:
import pandas as pd

# Load the Excel file
file_path = 'Godsfavour.xlsx'

# Load all sheets into a dictionary of DataFrames
all_sheets = pd.read_excel(file_path, sheet_name=None)

# Combine all sheets into a single DataFrame
combined_df = pd.concat(all_sheets.values(), ignore_index=True)

# If you want to save the combined DataFrame back to Excel
combined_df.to_csv('merged_data.csv', index=False)

# Display the first few rows of the combined DataFrame
print(combined_df.head())

            Unnamed: 0  Unnamed: 1       Unnamed: 2 Unnamed: 3  \
0                 DATE  PATIENT ID  AMOUNT REFUNDED        NaN
1  2023-01-08 00:00:00           1              920        NaN
2  2023-01-08 00:00:00           2             5500        NaN
3  2023-02-08 00:00:00           3             2400        NaN
4  2023-02-08 00:00:00           4             2800        NaN

   TOTAL REFUNDS FOR AUGUST, 2023      Unnamed: 5  Unnamed: 6  \
0                             NaN             NaN         NaN
1                             NaN             NaN         NaN
2                             NaN    TOTAL AMOUNT    155700.0
3                             NaN  Patient Number        40.0
4                             NaN             NaN         NaN

   REFUNDS FOR SEPTEMBER, 2023 Unnamed: 4 AMOUNT REFUNDED FOR OCTOBER, 2023  \
0                          NaN        NaN                               NaN
1                          NaN        NaN                               NaN
2                          NaN        NaN                               NaN
3                          NaN        NaN                               NaN
4                          NaN        NaN                               NaN

  REFUNDS FOR NOVEMBER, 2023 REFUNDS FOR DECEMBER, 2023  \
0                        NaN                        NaN
1                        NaN                        NaN
2                        NaN                        NaN
3                        NaN                        NaN
4                        NaN                        NaN

  REFUNDS FOR JANUARY,2024 REFUNDS FOR FEBRUARY, 2024.  \
0                      NaN                         NaN
1                      NaN                         NaN
2                      NaN                         NaN
3                      NaN                         NaN
4                      NaN                         NaN

  REFUNDS FOR MARCH, 2024 REFUNDS FOR APRIL, 2024 REFUNDS FOR MAY, 2024
0                     NaN                     NaN                   NaN
1                     NaN                     NaN                   NaN
2                     NaN                     NaN                   NaN
3                     NaN                     NaN                   NaN
4                     NaN                     NaN                   NaN