It's not that we humans only take debts to manage our necessities. A country may also take debt to manage its economy. For example, infrastructure spending is one costly ingredient required for a country's citizens to lead comfortable lives. [The World Bank](https://www.worldbank.org) is the organization that provides debt to countries.

In this notebook, we are going to analyze international debt data collected by The World Bank. The dataset contains information about the amount of debt (in USD) owed by developing countries across several categories. We are going to find the answers to questions like: 

- What is the total amount of debt that is owed by the countries listed in the dataset?
- Which country owns the maximum amount of debt and what does that amount look like?
- What is the average amount of debt owed by countries across different debt indicators?

![](image.jpg)

Below is a snapshot of the database you will be working with:

|country_name|country_code|indicator_name                                                    |indicator_code|debt       |
|------------|------------|------------------------------------------------------------------|--------------|-----------|
|Afghanistan |AFG         |"Disbursements on external debt, long-term (DIS, current US$)"    |DT.DIS.DLXF.CD|72894453.7 |
|Afghanistan |AFG         |"Interest payments on external debt, long-term (INT, current US$)"|DT.INT.DLXF.CD|53239440.1 |
|Afghanistan |AFG         |"PPG, bilateral (AMT, current US$)"                               |DT.AMT.BLAT.CD|61739336.9 |
|Afghanistan |AFG         |"PPG, bilateral (DIS, current US$)"                               |DT.DIS.BLAT.CD|49114729.4 |
|Afghanistan |AFG         |"PPG, bilateral (INT, current US$)"                               |DT.INT.BLAT.CD|39903620.1 |
|Afghanistan |AFG         |"PPG, multilateral (AMT, current US$)"                            |DT.AMT.MLAT.CD|39107845   |
|Afghanistan |AFG         |"PPG, multilateral (DIS, current US$)"                            |DT.DIS.MLAT.CD|23779724.3 |
|Afghanistan |AFG         |"PPG, multilateral (INT, current US$)"                            |DT.INT.MLAT.CD|13335820   |
|Afghanistan |AFG         |"PPG, official creditors (AMT, current US$)"                      |DT.AMT.OFFT.CD|100847181.9|
|Afghanistan |AFG         |"PPG, official creditors (DIS, current US$)"                      |DT.DIS.OFFT.CD|72894453.7 |

You will execute SQL queries to answer six questions, as listed in the instructions.

In [35]:
--num_distinct_countries
WITH num_distinct_countries AS(
SELECT COUNT (DISTINCT international_debt.country_name) AS total_distinct_countries
FROM international_debt
	)
SELECT *
FROM num_distinct_countries

   total_distinct_countries
0                       124

In [36]:
--distinct_debt_indicators
SELECT DISTINCT international_debt.indicator_name AS distinct_debt_indicators
FROM international_debt

                             distinct_debt_indicators
0   Principal repayments on external debt, private...
1                       PPG, bonds (INT, current US$)
2   Interest payments on external debt, long-term ...
3                PPG, multilateral (INT, current US$)
4            PPG, commercial banks (AMT, current US$)
5          PPG, official creditors (AMT, current US$)
6                       PPG, bonds (AMT, current US$)
7   Interest payments on external debt, private no...
8                   PPG, bilateral (AMT, current US$)
9           PPG, private creditors (INT, current US$)
10    PPG, other private creditors (DIS, current US$)
11         PPG, official creditors (INT, current US$)
12  Disbursements on external debt, long-term (DIS...
13               PPG, multilateral (DIS, current US$)
14                  PPG, bilateral (INT, current US$)
15         PPG, official creditors (DIS, current US$)
16  Principal repayments on external debt, long-te...
17                  PPG, bilateral (DIS, current US$)
18          PPG, private creditors (AMT, current US$)
19           PPG, commercial banks (DIS, current US$)
20    PPG, other private creditors (INT, current US$)
21               PPG, multilateral (AMT, current US$)
22           PPG, commercial banks (INT, current US$)
23          PPG, private creditors (DIS, current US$)
24    PPG, other private creditors (AMT, current US$)

In [37]:
--total_debt
SELECT ROUND(SUM(international_debt.debt)/1000000,2) AS total_debt
FROM international_debt

   total_debt
0  3079734.49

In [38]:
--highest_debt_country
WITH highest_debt_country AS(SELECT country_name, SUM(debt) AS total_debt
FROM international_debt
GROUP BY country_name
ORDER BY total_debt DESC
LIMIT 1)
SELECT *
FROM highest_debt_country

  country_name    total_debt
0        China  2.857935e+11

Empty DataFrame
Columns: []
Index: []

In [40]:
--highest_principal_repayment
WITH lowest_principal_repayment AS(SELECT country_name, indicator_name, MIN(debt) AS lowest_repayment
FROM international_debt
WHERE indicator_code = 'DT.AMT.DLXF.CD'
GROUP BY country_name, indicator_name
ORDER BY lowest_repayment
LIMIT 1)
SELECT * 
FROM lowest_principal_repayment

  country_name  ... lowest_repayment
0  Timor-Leste  ...           825000

[1 rows x 3 columns]